/* css styles */

/* add Roberts Lab logo*/
h1.title {
    background-image: url(images/logo_roberts_lab.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
  }